@charset "utf-8";

/* 산리오 PJ : 웹폰트, 공용클래스 CSS - core.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&display=swap');

/* 기본 글자체, 글자크기 설정 - 최상위 html에 설정 */
html {
    font-family: "Montserrat","Nanum Gothic", serif;
    font-size: 16px;
}

/* 
font-family: "Montserrat", serif;
font-family: "Nanum Gothic", serif;
*/

/* 공통클래스 */
/* 1. 중앙속박스 */
.inbox{
    max-width: 1200px;
    margin: 0 auto;
}
/* 2. 공통 제목 */
.stit{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #222;
    /* text-transform : 글자변환속성
        1. 모두 대문자 - uppercase
        2. 모두 소문자 - lowercase
        3. 첫글자만 대문자 - capitalize
    */
    text-transform: uppercase;
    font-weight: 500;
}
/* 3. 공통 버튼 */
.com-btn{
    display: inline-block;
    font-size: 12px;
    border-radius: 30px;
    padding: 16px 30px;
    border: 1px solid #222;
    color: #222;
    transition: .3s;
    text-transform: uppercase;
}
/* 버튼오버시 */
.com-btn:hover{
    color: #fff;
    background-color: #222;
}
/* 화살표 나오는 버튼 추가 클래스 */
.view-btn::after {
    content: url(../images/ico_more1.png);
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
}
/* 오버시 이미지 변경 */
.view-btn:hover::after {
    content: url(../images/ico_more2.png);
}
/* 4. 센터박스 */
.center-box{
    text-align: center;
}