@charset "utf-8";

/* 메인 페이지 CSS - main.css 
    - 변수셋팅 + 미디어쿼리 포함
*/

/* 외부공통파일 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/* 공통변수 셋팅\ */
:root {
  /* 색상변수 : --이름-color */
  --main-gray-color: #222;
  --character-area-color: #fefefe;
  --company-area-color: #f4f4f4;
  --contact-area-color: #4a679d;
  /* 사이즈변수 : --이름-size */
  --top-area-padding-size: 20px 50px;
  --bottom-area-padding-size: 50px;
  --contents-box-padding-size: 85px 0 0;
  --cat-title-padding-size: 15px 10px;
}

/* 1. 상단영역 */
body{
    padding-top: 100px;
}
/* 겉박스 */
#top-area{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
/* 속박스 */
.top-area {
  padding: var(--top-area-padding-size);
}
/* 상단영역 플렉스 */
.top-area > ul {
  display: flex;
  /* 양쪽끝에 배치함 */
  justify-content: space-between;
}
/* 로고 */
h1.logo img {
  height: min(40px, 4vw);
  /* 최대사이즈 지정:40px이 최대크기 */
}

/* GNB메뉴 */
.gnb {
  height: 100%;
}
.gnb > ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  font-weight: 500;
}

/* 모바일 GNB 햄버거버튼 */
.gnb-mob {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 34px;
  height: 34px;
  /* 처음에 안보임! */
  display: none;
}
.gnb-mob span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: 0.3s ease-out;
}
/* 2번째,3번째 span */
.gnb-mob span + span {
  margin-top: 11px;
}
.gnb-mob.on span:nth-child(1) {
  translate: 0 15px;
  rotate: 45deg;
}
.gnb-mob.on span:nth-child(2) {
  translate: 17px 0;
  width: 0;
}
.gnb-mob.on span:nth-child(3) {
  translate: 0 -15px;
  rotate: -45deg;
}

/* 2. 메인영역 */
/* 메인영역 개별박스 공통 */
#main-area > div {
  padding: var(--contents-box-padding-size);
}
/* 2-1. 배너영역 */
.banner {
  /* 부모자격 */
  position: relative;
  /* 넘치는 자식 숨기기 */
  overflow: hidden;
  background: url(../images/main_visual_bg.jpg) 0/50px;
  text-align: center;
  padding-bottom: 100px !important;
}
/* 배너 이미지 */
.banner img {
  height: 60vmin;
}
/* 데스크탑 박스 */
.dt-box{    
  transition: 0.4s ease-in-out;
}
/* 모바일용 박스 */
.mob-box {
  position: absolute;
  top: -100%;
  opacity: 0;
  width: 100%;
  padding-top: 85px;
  transition: 0.4s ease-in-out;
}

/* 2-2. 캐릭터 영역 */
.character{
    background-color: var(--character-area-color);
}
/* 캐릭터 리스트 */
.cat-list ul{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.cat-list ul li{
    flex-basis: 25%;
    padding: 10px;
    box-sizing: border-box;
}
/* 이미지 파트박스 */
.img-part{
    position: relative;
}
/* 두개의 이미지 공통 */
.cat-list img{
    width: 100%;
}
/* 마지막 이미지 숨기기 */
.cat-list img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .4s;
}
/* 오버시 이미지 보이기 */
.cat-list li:hover img:last-child{
    opacity: 1;
}

/* 이미지 박스 */
.cat-list figure{
    border: 1px solid #ccc;
    border-radius: 20px;
}
/* 이미지 설명 */
.cat-list figcaption{
    text-align: center;
    padding: var(--cat-title-padding-size);
}
/* 캐릭터 타이틀 */
.cat-list figcaption h3{
    font-size: 22px;
    font-weight: normal;
}
/* 캐릭터 영문 */
.cat-list figcaption p{
    font-size: 12px;
}


/* 2-3. 컴퍼니영역 */
.company{
    background-color: var(--company-area-color);
}
/* 2-4. 리쿠르트영역 */
.recruit{
    background-color: var(--character-area-color);
}
/* 컴퍼니 영역 & 리쿠르트 영역 공통 리스트 디자인 */
.com-type-list{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 100px;
}
/* 공통 타이틀 */
.com-type-list h3{
    font-size: 22px;
    padding: 20px 0;
    font-weight: normal;
}
/* 공통 내용 */
.com-type-list p{
    font-size: 16px;
}
.com-type-list p:last-of-type{
    margin-bottom: 30px;
}
/* 2-5. 플레이스영역 */
.place{    
    padding-bottom: 30vh;
    background: url(../images/bg_shop.jpg) no-repeat center/cover;
}
/* 2-6. 컨텍어스영역 */
.contact-us{
    background-color: var(--contact-area-color);
}

/************ 미디어쿼리 ************/
@media screen and (max-width: 1024px) {
  /* Mobile GNB 나타남! */
  .gnb-mob {
    display: block;
  }

  /* DB GNB메뉴 클래스 on 줄경우 
    모바일용 숨김 메뉴로 변신 */
  .gnb.on {
    position: fixed;
    top: 100px;
    /* 오른쪽 바깥에 나가있음! */
    left: 100vw;
    width: 100vw;
    height: calc(100vh - 100px);

    background-color: #fff;
    font-size: 5vw;

    /* 투명, 트랜지션 */
    opacity: 0;
    transition: 0.8s ease-in-out, opacity 0.3s 0.5s;
  }
  .gnb.on ul {
    /* 세로방향 플렉스 */
    flex-direction: column;
    gap: 3vh;
  }
  /* 보이기 클래스는 show */
  .gnb.on.show {
    left: 0;
    opacity: 1;
  }
  /* 데스크탑용 박스 */
  .dt-box {
    translate: 0 -100%;
    opacity: 0;
  }
  /* 모바일용 박스 */
  .mob-box {
    top: 0;
    opacity: 1;
  }
} /* 미디어쿼리 */
