* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#scroll-highlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 15px;
  background-color: #0105db;
  transition: width 0.3s;
}

.desc-box {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 30vw;
  text-align: center;
  font-size: 1vw;
  padding-top: 20px;
  border: 10px solid hotpink;
  padding: 5vh;
  border-radius: 20px;
  background-color: lightpink;
}
