@charset "utf-8";

/* 서브페이지 공통 CSS - sub.css */

/*********************************** 
[ 선택자의 종류 ]

1) 타입선택자: 요소명 
    예) h1{}, div{}

2) 자손선택자: 띄어쓰기 
    예) h1 a{}, div span{}

3) 아이디선택자: # 
    예) #my{}, #we{}

4) 클래스선택자: . 
    예) .home{}, .kite{}

5) 직계자식선택자: > 
    예) #my > div

6) 그룹선택자: , 
    예) html,body,h1{}

7) 종속선택자: 태그명+아이디/클래스선택자
    예) h1#logo{}, main.cont{}

8) 속성선택자: []
    예) [target=_blank], a[href="index.html"]

9) 형제선택자: + 
    예) li+li , tr+tr 
    -> 앞에 다른형제가 있는 요소를 선택함

10) 다중형제선택자: ~
    예) li:nth-child(4)~li 
    -> 4번째 li이후 모든 형제선택

***********************************/

/* 2-1. 서브타이틀 
태그명+이름 방식의 선택자는 종속선택자*/
h2.sub-title{
    /* 글자체(웹폰트) font-family (ff) */
    font-family: "Single Day", cursive;
    /* 글자크기 : font-size (fz) */
    font-size: 38px;
    /* 글자두께 : font-weight (fw)
    두껍게 bold(fwb) / 보통 normal(fwn) */
    font-weight: normal;
    /* 텍스트 중앙정렬 : tac */
    text-align: center;
    /* 배경색 : bgc */
    /* background-color: pink; */
    /* 글자그림자 ts */
    text-shadow: 2px 2px 2px #00000081;

    /* 박스디자인 */
    /* 패딩 p */
    padding: 20px;
    /* 둥근모서리 brad */
    border-radius: 20px;
    /* CSS이미지는 상대경로로 CSS파일위치로부터
    찾아서 넣는다! ../는 폴더하나위로 올라감 */
    /* 배경 한번에 넣기 : 색이반고윙/크 */
    background: url(../images/titbg4.jpg) no-repeat center/cover;

    /* 박스그림자 box-shadow (bxsh) 
        box-shadow: 
        (내부그림자 inset) x축 y축 불러 (확장) 색

        -> 블러 뒤에 확장옵션에 px값을 주면
        그림자가 더 커진다! 박스그림자에만 이 옵션있음

        콤마로 연결하면 글자그림자든 박스그림자든
        모두 다중 그림자 적용가능함!!!
    */
    box-shadow: inset 0 0 10px #000,
    0 0 20px hotpink;
}
/* 2-2.언론사로고 */
/* 2-3. 기사제목 */
/* 2-4. 기사사진 */
/* 2-5. 기사내용 */
/* 2-5.5. 인용블록영역 */
/* 2-6. 기자정보 */
/* 2-7. 기사원문 */
/* 주해영역 */
/* 오늘의 작품 & 느낌 */