@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/**************** 1. 상단영역 ****************/
.top-area{
  height: 120px;
}
/* 1-1.로고영역 - 로고 */
.logo{
  padding: 18px 10px;
}
/* 1-2. 메뉴영역/메뉴박스 */
.menu-box{
  display: flex;
  flex-direction: column;
}
/* 1-2. 메뉴영역/메뉴박스/탑메뉴 */
.top-menu{
  font-size: 1.3rem;
}
.top-menu ul{
  /* justify-content: flex-end; */
}

/*  1-2. 메뉴영역/메뉴박스/GNB메뉴 */
.gnb{
  font-size: 1.6rem;
}
.gnb ul{
  /* justify-content: flex-end; */
}

/**************** 2. 하단영역 ****************/
.footer-area{
  height: 320px;
}
