@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/* 임시 높이 */
.main-area .inbox{
  height: 500px;
}
/* 임시 타이틀 */
h2.temp{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  font-size: 4vw;
  color: #ccc;
  outline: none;
}

/*************** 메인영역 ***************/
/*************** 2. 배너파트 ***************/
/* 배너 영역 */
.main-area .ban-area{
  height: 530px;
}
/* 배너 슬라이드박스 */
.ban-box{
  height: 530px;
  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
}
/* 슬라이드 플렉스박스 */
.ban-box ul{
  display: flex;
  /* 부모박스의 3배(슬라이드 3장) */
  width: 300%;
  height: 100%;
}
/* 슬라이드 플렉스 자식요소 */
.ban-box ul li{
  /* 등분할 플렉스: 높이는 자동100% */
  flex: 1;
}
/* 슬라이드 이미지 */
.ban-box ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 오브젝트 핏 포지션 top변경 */
  object-position: top;
}
