@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/* 임시 높이 */
.main-area .inbox {
  height: 500px;
}
/* 임시 타이틀 */
h2.temp {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  font-size: 4vw;
  color: #ccc;
  outline: none;
}

/************ 2.5.드라마 파트메뉴영역 ************/
#spart-menu {
  /* 스티키 포지션 - 상단스크롤 걸림! */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
/* 인박스 높이값 초기화 */
.spart-menu.inbox {
  height: auto;
}
.spart-menu ul {
  /* 플렉스박스 */
  display: flex;
  padding: 12px 0;
  transition: 0.4s ease-out;
}
/* 도깨비메뉴 상위메뉴a */
.spart-menu ul > li > a {
  color: #999;
  font-size: 1.8rem;
  display: block;
  padding: 9px 24px;
  /* 줄바꿈방지 */
  white-space: nowrap;
}
/* 도깨비메뉴 상위li 오버시 a */
.spart-menu ul > li:hover > a {
  color: #222;
}
/* 하위메뉴가 있는 li만 하위 표시하기 */
.spart-menu ul > li.be-sub > a::after {
  content: "∨";
  display: inline-block;
  transform: scale(0.5, 0.3);
  margin-left: 3px;
}
/* 현재 선택된 메뉴 li.on 클래스 */
.spart-menu ul > li.on > a {
  background-color: red;
  color: #fff;
  border-radius: 30px;
}

/* 도깨비 서브메뉴 */
.spart-sub-menu {
  position: absolute;
  border: 1px solid red;
  border-radius: 20px;
  width: 180px;
  background-color: #fff;

  /* 처음에 숨김 */
  display: none;
}
/* 상위li에 마우스 오버시 서브 보이기 */
.spart-menu ul > li:hover .spart-sub-menu {
  display: block;
}
/* 도깨비 서브메뉴 a */
.spart-sub-menu a {
  display: block;
  padding: 10px 15px;
  font-size: 1.8rem;
}

/*************** 메인영역 ***************/
/*************** 2. 배너파트 ***************/
/* 배너 영역 : 중앙영역(인디케이터)
-> 배너와 겹쳐지게 앱솔루트로 구성함! */
/* 배너 겉박스 부모자격 필요! */
#ban-area {
  position: relative;
}
.main-area .ban-area {
  position: absolute;
  top: 0;
  /* 나의 부모는? #ban-area */

  /* 가로중앙셋팅: 
  앱솔루트이므로 마.영.오 적용불가! */
  left: 50%;
  translate: -50%;

  width: 100%;
  height: 530px;
}
/* 배너 슬라이드박스 */
.ban-box {
  position: relative;
  /* 부모자격 - 이동버튼, 인디케이터 */
  /* height: 530px; */
  aspect-ratio: 2.3;
  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
}
/* 슬라이드 플렉스박스 */
.ban-box ul {
  display: flex;
  /* 부모박스와 같은 크기
  -> 그래야 translate %값 설정이 쉬워짐! */
  width: 100%;
  height: 100%;
}
/* 슬라이드 플렉스 자식요소 */
.ban-box ul li {
  /* 강제로 줄이기 설정 해제 
  -> 부모크기와 같은 박스가 옆으로 나감!
  (1-설정(기본값)/0-해제) */
  flex-shrink: 0;
  /* 가로크기는 부모와 같은 크기로!
  -> 슬라이드 하나의 크기가 부모와 같다! */
  flex-basis: 100%;
}
/* 슬라이드 이미지 */
.ban-box ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 오브젝트 핏 포지션 top변경 */
  object-position: top;
}

/*이동버튼*/
.abtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*Y축 중앙이동*/
}
/* 이미지크기 조정 */
.abtn img {
  width: min(50px, 3.7vw);
}

/*왼쪽버튼*/
.ab1 {
  left: 50px;
}

/*오른쪽버튼*/
.ab2 {
  right: 50px;
}

/*블릿버튼*/
.indic-box {
  position: absolute;
  top: 20px;
  left: 30px;
  width: min(450px, 32.8vw);
  height: 5px;
  z-index: 1;
}
.indic {
  display: flex;
  gap: 0 15px;
}
.indic li {
  width: 150px;
  height: 5px;
  background-color: #ffffff66;
}
/* 가상요소바 */
.indic li::before {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: #fff;
}
/* li.on일 경우 가상요소 width변경 */
.indic li.on::before {
  width: 100%;
  transition: width 3s linear;
}

/********** 3. 캐릭터소개영역 **********/
.main-area .cat-area {
  position: relative;
  /* 형제 배너박스보다 밑에 깔리므로
  포지션을 줘서 나중에 오는 박스가 위로 오게함! */

  /* 비율적용을 위해 높이값을 없앤다! */
  height: auto;
  aspect-ratio: 1320/190;
}
/* 캐릭터박스 */
.cat-box {
  /* 플렉스박스 */
  display: flex;
  /* 사이간격 */
  gap: 1%;
}
/* 직계자식요소 div 4개 */
.cat-box > div {
  /* 플렉스자식 등분할설정 */
  flex: 1;
}
/* 캐릭터 이미지박스 */
.cat-box figure {
  /* 트랜지션 */
  transition: 0.4s ease-out;
}
/* 캐릭터 각 박스 오버시 캐릭터박스
마진탑 올리기 */
.cat-box > div:hover figure {
  /* 브라우저 화면크기를 중앙속박스 크기로 맞추고
  최대크기 px,vw를 조정한다! 이때 마이너스니까
  min이 아니고 max로 조정함! */
  margin-top: max(-200px, -15vw);
}
/* 캐릭터 이미지만 선택 */
.cat-box figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 캐릭터 이름 이미지박스 */
.cat-box figcaption {
  text-align: center;
  margin-top: -17%;
}
/* 이름이미지 공통 */
.cat-box figcaption img {
  width: 35%;
}
/* 첫번째 이름이미지 처음에 안보임 */
.cat-box figcaption img:first-child {
  display: none;
}
/* 캐릭터 개별박스에 오버시 이름변경
-> 첫번째 보이고 두번째 숨기기 */
.cat-box > div:hover figcaption img:first-child {
  display: inline;
}
.cat-box > div:hover figcaption img:last-child {
  display: none;
}

/* 캐릭터 설명박스 */
.cat-box aside {
  height: 0;
  overflow: auto;
  /* 배경 */
  background: url(../images/eachBG.jpg) no-repeat bottom/cover;
  /* 트랜지션 */
  transition: 0.4s ease-out;
  /* 둥근모서리 설정 */
  border-radius: 10px 5px 5px 10px;
  margin-top: 10px;
}
/* 각 캐릭터박스에 오버시 설명박스 보이기 */
.cat-box > div:hover aside {
  /* 중앙박스 최대크기에서 px과 vw크기를 맞추고
  최소크기 출력을 테스트하면 잘된다! */
  height: min(200px, 15vw);
}
/* 캐릭터 타이틀 */
.cat-box aside h3 {
  font-family: "Gugi";
  /* 글자 최대크기를 min으로 설정 */
  font-size: min(2.4rem, 1.8vw);
  font-weight: normal;
  padding: 1.5rem 1rem 0.5rem;
  /* 자간 letter-spacing */
  letter-spacing: -1px;
}
/* 캐릭터 설명 */
.cat-box aside p {
  font-family: "Single Day";
  /* 글자 최대크기를 min으로 설정 */
  font-size: min(1.8rem, 1.3vw);
  padding: 1.5rem;
  line-height: 1.6;
  /* 양쪽정렬 justify */
  text-align: justify;
}

/*********** 방송편성소개파트 : .intro-part ***********/
.main .intro-part .partbox {
  height: 455px;
  padding: 10px;
}
/* 서브타이틀 */
.intro-part .stit {
  padding-bottom: 0;
}
/* 하위제목+아이콘 박스 */
.intro-desc {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
}
.intro-desc h3 {
  margin-right: 10px;
}
.intro-desc ul {
  display: flex;
  gap: 0 15px;
}
/* 설명박스 */
.intro-txt {
  padding: 20px;
  font-size: 2.2rem;
  line-height: 2;
  color: #555;
}
/* 인트로버튼 */
.intro-btn {
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 1.8rem;
  background-color: transparent;
  border: 1px solid #000;
  font-weight: bold;
}

/* 인트로 동영상 박스 */
.intro-mv-img {
  position: relative;
  /* 부모자격 */
  aspect-ratio: 2/1.1;
}
/* 가상요소로 플레이버튼 만들기
-> .off를 준 경우에만 가상요소 버튼보임
따라서 비디오태그 넣을 경우 .off 지울것! */
.intro-mv-img.off::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  background: url(../images/icon_play.png) no-repeat;
  cursor: pointer;
}

/* 하위 이미지/동영상 */
.intro-mv-img img,
.intro-mv-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* 동영상 설명박스 */
.intro-mv-box figcaption {
  font-size: 2rem;
  padding-top: 10px;
}

/************** 4. 미리보기영역 **************/
.main-area .preview-area {
  height: auto;
  /* height: 803px; 
    -> 높이값을 지정하면 내용만큼 자동으로
    높이값이 잡히지 않아서 매번 크기에 따라
    값을 셋팅해야하므로 auto로 두자!
    */
}
.preview-box ul {
  gap: 20px;
}
/* 리스트박스 */
.preview-box li {
  /* 한줄에 4개 플렉스 배치 - gap값 고려해서뺌 */
  flex-basis: calc(100% / 4 - 15px);
  padding: 24px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px #22222240;
  box-sizing: border-box;
}
/* 리스트 타이틀 */
.preview-box li h3 {
  font-size: 2rem;
  color: #000;
  font-weight: normal;
}
/* 리스트 내용 */
.preview-box li p {
  font-size: 1.5rem;
  margin-top: 1.4rem;
  color: #00000099;
  line-height: 1.7;

  /* 여러줄 말줄임표시 셋팅하기 */
  display: -webkit-box;
  overflow: hidden;
  /* 말줄임표시 */
  text-overflow: ellipsis;
  /* 보여줄 라인수 셋팅속성 */
  -webkit-line-clamp: 7;
  /* 라인진행방향 셋팅 */
  -webkit-box-orient: vertical;
}
/* 리스트박스 오버시 내용글자색 */
.preview-box li:hover p {
  color: #000;
}

/************** 7. 최신동영상영역 **************/
.main-area .clip-video-area {
  height: auto;
}
.clip-video-area {
  position: relative;
  /* 부모자격 - 이동버튼의 부모 */
}
.clip-box ul {
  position: relative;
  left: 0; /* 이동초기값 */
  display: flex;
  /* gap: 0 2%; */
  /* 트랜지션 */
  transition: left 0.3s ease-out;
  user-select: none;
  -webkit-user-drag: none;
}

.clip-box li {
  flex-basis: 25%;
  flex-shrink: 0;
  /* 플렉스 gap 속성대신 패딩으로 처리!
    이유는? 드래그시 영역아웃현상때문! */
  padding: 0 1.1%;
  box-sizing: border-box;
}

/* 동영상 이미지박스 */
.clip-mv-box {
  position: relative;
  /* 부모자격 */
}
/* 동영상 이미지박스 이미지 */
.clip-mv-box img {
  width: 100%;
  border-radius: 6px;
  user-select: none;
  -webkit-user-drag: none;
}
/* 동영상 이미지박스 가상요소로 플레이버튼 */
.clip-mv-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  background: url(../images/icon_play.png) no-repeat 0/100%;
  cursor: pointer;
}

.clip-box h4 {
  font-size: 18px;
  font-weight: normal;

  /* 2줄 말줄임 셋팅 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  user-select: none;
  -webkit-user-drag: none;
}

.clip-box h3 {
  font-size: 15px;
  font-weight: normal;
  color: #555;
  user-select: none;
  -webkit-user-drag: none;
}

.clip-box {
  overflow: hidden;
}

/* 양쪽버튼만들기 */
.btn-box button {
  position: absolute;
  z-index: 999;
  top: 43%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 65px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* 왼쪽버튼 */
.btn-box button:first-child {
  left: 0;
}
/* 오른쪽버튼 */
.btn-box button:last-child {
  right: 0;
}
/* 클래스를 추가하여 한쪽버튼만 안보이게 처리 */
/* 왼쪽버튼만 보이기 */
.btn-box.left button:first-child {
  display: inline-block;
}
.btn-box.left button:last-child {
  display: none;
}
/* 오른쪽버튼만 보이기 */
.btn-box.right button:last-child {
  display: inline-block;
}
.btn-box.right button:first-child {
  display: none;
}
