@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/* 임시 높이 */
.main-area .inbox {
  height: 500px;
}
/* 임시 타이틀 */
h2.temp {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  font-size: 4vw;
  color: #ccc;
  outline: none;
}

/*************** 메인영역 ***************/
/*************** 2. 배너파트 ***************/
/* 배너 영역 : 중앙영역(인디케이터)
-> 배너와 겹쳐지게 앱솔루트로 구성함! */
/* 배너 겉박스 부모자격 필요! */
#ban-area {
  position: relative;
}
.main-area .ban-area {
  position: absolute;
  top: 0;
  /* 나의 부모는? #ban-area */

  /* 가로중앙셋팅: 
  앱솔루트이므로 마.영.오 적용불가! */
  left: 50%;
  translate: -50%;

  width: 100%;
  height: 530px;
}
/* 배너 슬라이드박스 */
.ban-box {
  position: relative;
  /* 부모자격 - 이동버튼, 인디케이터 */
  height: 530px;
  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
}
/* 슬라이드 플렉스박스 */
.ban-box ul {
  display: flex;
  /* 부모박스와 같은 크기
  -> 그래야 translate %값 설정이 쉬워짐! */
  width: 100%;
  height: 100%;
}
/* 슬라이드 플렉스 자식요소 */
.ban-box ul li {
  /* 강제로 줄이기 설정 해제 
  -> 부모크기와 같은 박스가 옆으로 나감!
  (1-설정(기본값)/0-해제) */
  flex-shrink: 0;
  /* 가로크기는 부모와 같은 크기로!
  -> 슬라이드 하나의 크기가 부모와 같다! */
  flex-basis: 100%;
}
/* 슬라이드 이미지 */
.ban-box ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 오브젝트 핏 포지션 top변경 */
  object-position: top;
}

/*이동버튼*/
.abtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*Y축 중앙이동*/
}

/*왼쪽버튼*/
.ab1 {
  left: 50px;
}

/*오른쪽버튼*/
.ab2 {
  right: 50px;
}

/*블릿버튼*/
.indic {
  display: flex;
  /* 플렉스박스 */
  position: absolute;
  bottom: 50px;
  left: 80px;
}

.indic li {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.indic li img {
  position: absolute;
  /*이미지 겹치게*/
}

.indic li img:last-child {
  /*회색이미지만 투명하게*/
  opacity: 0;
}

/*회색블릿이미지가 보이게하는 class*/
.indic li.on img:last-child {
  /*회색이미지만 투명하게*/
  opacity: 1;
  /*우선적용!*/
}

/********** 3. 캐릭터소개영역 **********/
.main-area .cat-area {
  /* 비율적용을 위해 높이값을 없앤다! */
  height: auto;
  aspect-ratio: 1320/190;
}
/* 캐릭터박스 */
.cat-box {
  /* 플렉스박스 */
  display: flex;
  /* 사이간격 */
  gap: 1%;
}
/* 직계자식요소 div 4개 */
.cat-box > div {
  /* 플렉스자식 등분할설정 */
  flex: 1;
}
/* 캐릭터 이미지박스 */
.cat-box figure {  
  /* 트랜지션 */
  transition: .4s ease-out;
}
/* 캐릭터 각 박스 오버시 캐릭터박스
마진탑 올리기 */
.cat-box>div:hover figure{
  /* 브라우저 화면크기를 중앙속박스 크기로 맞추고
  최대크기 px,vw를 조정한다! 이때 마이너스니까
  min이 아니고 max로 조정함! */
  margin-top: max(-200px,-15vw);
}
/* 캐릭터 이미지만 선택 */
.cat-box figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 캐릭터 이름 이미지박스 */
.cat-box figcaption {
  text-align: center;
  margin-top: -17%;
}
/* 이름이미지 공통 */
.cat-box figcaption img{
  width: 35%;
}
/* 첫번째 이름이미지 처음에 안보임 */
.cat-box figcaption img:first-child {
  display: none;
}
/* 캐릭터 개별박스에 오버시 이름변경
-> 첫번째 보이고 두번째 숨기기 */
.cat-box>div:hover figcaption img:first-child{
  display: inline;
}
.cat-box>div:hover figcaption img:last-child{
  display: none;
}

/* 캐릭터 설명박스 */
.cat-box aside{
  height: 0;
  overflow: auto;
  /* 배경 */
  background: url(../images/eachBG.jpg) no-repeat bottom/cover;
  /* 트랜지션 */
  transition: .4s ease-out;
  /* 둥근모서리 설정 */
  border-radius: 10px 5px 5px 10px;
  margin-top: 10px;
}
/* 각 캐릭터박스에 오버시 설명박스 보이기 */
.cat-box>div:hover aside{
  /* 중앙박스 최대크기에서 px과 vw크기를 맞추고
  최소크기 출력을 테스트하면 잘된다! */
  height: min(200px,15vw);
}
/* 캐릭터 타이틀 */
.cat-box aside h3{
  font-family: 'Gugi';
  /* 글자 최대크기를 min으로 설정 */
  font-size: min(2.4rem,1.8vw);
  font-weight: normal;
  padding: 1.5rem 1rem .5rem;
  /* 자간 letter-spacing */
  letter-spacing: -1px;
}
/* 캐릭터 설명 */
.cat-box aside p{
  font-family: 'Single Day';
  /* 글자 최대크기를 min으로 설정 */
  font-size: min(1.8rem,1.3vw);
  padding: 1.5rem;
  line-height: 1.6;
  /* 양쪽정렬 justify */
  text-align: justify;
}

