@charset "utf-8";
/* 드라마 테이블 CSS - drama.css */

/* 기본초기화 : 마진,패딩 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;
}
/* 블릿표시자 초기화 : ul,ol */
ul,ol{
    /* 리스트 스타일 없앰 : lin */
    list-style: none;
}   

/* 전체제목 */
h1.tit{
    /* 글자중앙정렬 : tac */
    text-align: center;
    /* 패딩 */
    padding: 20px;
}
/* 드라마제목 */
h2.tit{
    /* 두꺼운글자 해제 : fwn */
    font-weight: normal;
    /* 글자크기 : fz */
    font-size: 17px;
    /* 하단마진 */
    margin-bottom: 10px;
}


/* ul의 li를 옆으로 흐르게하기 */
.drama ul > li{
    /* 직계자식 li를 선택해야 하위의 ol>li까지
    선택되지 않는다! */
    /* 블록플롯 셋팅 */
    float: left;
    /* 나는 왼쪽에 너는 오른쪽으로 올라와서 흘러가 */
    
    /* 패딩 */
    padding: 9px;
}

/* 자식 블록플롯때문에 부모가 망가지는걸
막아주는 가상요소 클리어 장치 */
.drama ul::after{
    content: '';
    display: block;
    clear: both;
}

/* 테이블 셋팅 */
/* 클래스명 앞에 태그명을 같이 붙여서
사용하면 "종속선택자"라고한다!
해당태그일때만 그 클래스명이 적용되도록
태그명에 종속되어 있음! */
table.drama{
    /* 최대가로크기 : maw */
    max-width: 670px;
    /* 마영오! 박스 중앙정렬 */
    margin: 0 auto;
    /* 패딩 */
    padding: 15px;
}

/* 드라마별 묶음요소 .drama > ul */
.drama ul {
    /* 보더 */
    border: 1px solid #a3a3a3;
    /* 둥근모서리 */
    border-radius: 10px;
    /* 전체글자 */
    font-size: 15px;

}

/* 드라마 이미지 */
.drama img{
    /* 가로크기 설정 : 높이값은 자동! */
    width: 75px;
}

/* 추가정보 파트 */
.info-txt{
    color: #939396;
}
.num-txt{
    color: red;
}
/* 숫자부분(데이터DB에서 숫자넣는 구분요소) */
.num-txt em{
    /* 기본 이탤릭 해제 : fsn */
    font-style: normal;
}
/* 글자정보 링크 */
.drama ol a{
    /* a요소 기본셋팅변경: 글자색,밑줄 */
    color: blue;
    text-decoration: none;
}
.drama ol a:hover{ 
    /* 밑줄 : tdu */
    text-decoration: underline;
}

/* 구독버튼 */
/* 기존 a요소 적용 우선순위
올리기위해 .drama 조상요소씀 */
.drama .subscribe{
    display: inline-block;
    /* display변경 이유: 마진탑적용과
    패딩을 실제로 위아래쪽 밀기위해 */
    margin-top: 5px;
    padding: 7px;

    color: #222;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}
/* 오버시 없앰 */
.drama .subscribe:hover{
    text-decoration: none;
}
/* 플러스기호 */
.subscribe span{
    color: blue;
}
/* 구독자수 */
.subscribe b{
    font-weight: normal;
    color: #555;
    font-size: 12px;
}
/* 하트기호 */
.subscribe i{
    /* 기본이탤릭해제 */
    font-style: normal;
    color: red;
    border-left: 1px solid #ccc;
    /* 인라인요소의 앞뒤 마진,패딩은 적용됨! */
    padding-left: 5px;
    margin-left: 5px;
}
