@charset "UTF-8";
/* 보그 PJ 메인 페이지 미디어쿼리 CSS - main_media.css */

/* ========== 반응형: 태블릿 (820px ~ 1024px) ========== */
@media (max-width: 1024px) {
  .section-title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  /* 그리드 컬럼변경 : 
  fashion파트도 모두 변경해야함
  그래서 !important사용 */
  .stories-grid {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto;
    gap: 20px;
    min-height: auto;
  }

  /* 큰 카드 위치변경 :  
  fashion파트도 모두 변경해야함
  그래서 !important사용  */
  body .main-story {
    grid-column: 1 / 3 !important;
    grid-row: auto !important;
    min-height: 500px;
  }

  .main-story-title {
    font-size: 28px;
  }

  .main-story-overlay {
    padding: 40px 30px 30px;
  }

  .sub-story-title {
    font-size: 16px;
  }

  .sub-story-content {
    padding: 15px 0;
  }

  .hero {
    height: 450px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  main {
    padding: 40px 30px;
  }

  .grid-3,
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .people-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Latest Stories 반응형 */
  /* Latest Stories 박스 구성비 변경 */
  .latest-stories-box {
    grid-template-columns: 1fr;
  }
  /* Latest Stories 두번째 속박스 숨기기 */
  .latest-stories-box > article:last-child {
    display: none;
  }
} /* 1024px 이하 미디어쿼리 종료 */

/* ========== 반응형: 모바일 (<819px) ========== */
@media (max-width: 819px) {
  body {
    padding: 108px 15px 20px;
  }  
  
  main > section{
    padding: 0;    
    margin-top: 20px !important;

  }

  .section-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  /* 그리드 컬럼변경 : 
  fashion파트도 모두 변경해야함
  그래서 !important사용 */
  .stories-grid {
    grid-template-columns: 1fr !important;
    gap: 30px 0;
  }

  /* 큰 카드 위치변경 :  
  fashion파트도 모두 변경해야함
  그래서 !important사용  */
  .main-story {
    grid-column: 1 !important;
    min-height: 450px;
  }

  .main-story-overlay {
    padding: 30px 25px 25px;
  }

  .main-story-title {
    font-size: 24px;
  }

  .main-story-meta {
    font-size: 13px;
    gap: 10px;
  }

  .sub-story-title {
    font-size: 16px;
  }

  .sub-story-content {
    padding: 15px 0;
  }

  .sub-story-category {
    font-size: 10px;
  }

  .hero {
    height: 350px;
  }

  .hero-text {
    bottom: 40px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text p {
    font-size: 14px;
  }

  main {
    padding: 30px 20px;
  }

  section {
    margin-bottom: 50px;
  }

  /* .section-header h2 {
    font-size: 20px;
  } */

  .grid-3,
  .grid-4,
  .people-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  /* 피플나우 중 첫번째 카드 비율변경 */
  #people .people-card:first-child {
    aspect-ratio: 3;
  }

  /* Latest Stories 반응형 */

   .latest-stories-box > article:first-child .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-title {
    font-size: 14px;
  }
} /* 819px 이하 미디어쿼리 종료 */
