@charset "UTF-8";
/* 보그 PJ 회원가입페이지 CSS - member.css */
@import "./core.css";
@import "./reset.css";
@import "./common.css";

/***************** 메인 CSS *****************/
/* 메인페이지 최소높이설정 */

.main-area {
  min-height: calc(100vh / 3 * 2);
  padding-bottom: 70px;
}

/* [2] 회원가입 페이지 디자인 */
/* 2-1.타이틀 */
.stit {
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  padding: 40px 0 20px;
}
/* 2-2.컨텐츠박스 */
.scont {
  position: relative;
  /* 부모자격 - .btnbx */
  max-width: 700px;
  min-height: 275px;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #777;
  padding: 60px 15px;
  /* 박스크기유지 : 보더,패딩포함 */
  box-sizing: border-box;
}

/* 리스트 ul */
.scont ul {
  font-size: 2rem;
  /* html 10px*2=20px */
  font-weight: bold;
  color: #333;
}
/* 리스트 li */
.scont li {
  position: relative;
  /* 부모자격 - .msg */
  height: 50px;
  line-height: 50px;
  /* outline: 2px dotted red; */
}
/* 라벨공통 타이틀(.itit) */
.itit {
  display: inline-block;
  width: 200px;
}

/* 메시지박스 */
.msg {
  position: absolute;
  top: 35px;
  left: 0;
  /* 부모는? .scont li */
  height: 15px;
  line-height: 15px;

  font-size: 10px;
  color: red;
  white-space: nowrap;
}
/* 메시지 글자색 변경 클래스 */
.msg.on {
  color: green;
}

/* 입력박스 공통 */
.scont input[type="text"],
.scont input[type="password"] {
  width: 340px;
  height: 36px;
  font-size: 2rem;
  border: 1px solid #777;
  border-radius: 5px;
  padding-left: 5px;
}
/* 라디오버튼 */
.scont input[type="radio"] {
  width: 20px;
  height: 20px;
  /* 인라인요소간 세로정렬 */
  vertical-align: -4px;
}

/* 이메일 앞주소 */
#email1 {
  width: 170px;
}
/* 이메일 선택박스 
드롭다운박스==콤보박스 */
#seleml {
  width: 146px;
  height: 40px;
  border-radius: 5px;
  font-size: 2rem;
}
/* 이메일 뒷주소 */
/* 라벨숨기기 */
.ee {
  display: none;
}
#email2 {
  width: 136px;
  float: right;
  margin-top: 5px;
  margin-right: 44px;
  display: none;
  /* 처음에 숨기기
    -> 직접입력 상태일때만 보임 */
}
/* 가입하기 버튼 */
#btnj {
  position: absolute;
  top: 5px;
  right: 44px;
  width: 113px;
  height: 40px;

  border: 1px solid #777;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #ddd, #555);

  color: #fff;
  text-shadow: 1px 1px 1px #555;

  /* 손가락모양 */
  cursor: pointer;
}

/* [3] 인물관계도 페이지 디자인 */
.catimg-box {
  text-align: center;
  background-color: #efefef;
}
/* 인물관계도 이미지 */
#catimg {
  max-width: 100%;
  /* 이미지크기 최대 100%의 의미는?
    -> 싸고 있는 박스가 이미지 크기보다
    작아질때 이미지 가로크기는 100%로
    자동전환된다! 이미지를 박스에 무조건
    보이게 할 경우 이것을 셋팅함! */
}

/* 미디어쿼리 690px 이하 시작 */
@media screen and (max-width: 690px) {
  /* 리스트 li */
  .scont li {
    height: auto;
  }

  /* 라벨공통 타이틀(.itit) */
  .itit {
    display: block;
  }

  /*  입력박스 공통 */
  .scont input[type="text"],
  .scont input[type="password"] {
    width: 100%;
  }

  /* 가입하기 버튼 */
  #btnj {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 25px;
  }

  /* 상대적인 크기 위치변경 */
  .cont {
    padding: 3vw !important;
  }

  /* 로그인 박스 */
  .scont {
    padding: 30px 7vw 10vh;
  }

  /* 이메일 앞주소 */
  #email1 {
    width: 30vw;
  }
  /* 이메일 선택박스 */
  #seleml {
    width: 37.2vw;
  }
  /* 이메일 뒷주소 */
  #email2 {
    width: 35.4vw;
    margin-right: 5.1vw;
  }
  /* @ 문자 글자크기 */
  .gol {
    font-size: 3vw;
  }
}

/* 미디어쿼리 690px 이하 끝 */
