@charset "UTF-8";

/* 보그 JS 초기화 CSS - reset.css */

html {
  font-size: 10px;
  /* 1rem = 10px */
}

/* ========== 기본 리셋 ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', "Noto Sans KR";
  padding-top: 209px;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  /* display: block; */
}

ul,
li {
  list-style: none;
}