@charset "utf-8";
/* 아이폰 회전 애니 CSS */

/* 
    [ CSS의 변수사용 ]
     1. 최상위 영역에 변수를 셋팅하여
     특정 부분의 값을 한번에 컨트롤 할 수 있다
     2. 설정방법:
     :root{
        --변수명:값;
     }
    3. 사용방법:
        var(--변수명)
    4. 변수명명법:
        일반적으로 -- 기호 뒤에 영문자를 쓰고
        단어구분마다 데쉬(-)를 사용하는 케밥케이스로 쓴다!
    예) 

    :root{
        --box-size1: 100px;
        --box-size2: 400px;
        --box-size3: 20vw;
    }

    div.my{
        width: var(--box-size1);
    }

    5. 변수사용의 유용성 : 
    (1) 반복적으로 사용되는 값의 업데이트시
    한번에 제어할 수 있음(재사용성)
    (2) 미디어쿼리에서 값 변경시 변수값만 업데이트하면
    전체 컨트를 가능함

    6. 변수사용의 범위 : 
    (1) 특정 사이즈크기값
    (2) 사이트 지정 색상값
    (3) 특정 변경가능한 모든 지정값

*/

/* CSS변수 설정하기 */
:root {
  /* 아이폰 가로크기 */
  --ip-width: 200px;
  /* 아이폰 세로크기 */
  --ip-height: 400px;
  /* 아이폰 두께크기 */
  --ip-side-size: 20px;

  /* 그라데이션 색상 */
  --grad-color1: #fff;
  --grad-color2: skyblue;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    var(--grad-color1) 20%,
    var(--grad-color2) 40%,
    var(--grad-color1)
  );
  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
}

/* 아이폰박스 */
.iphone {
  position: absolute;
  /* 박스 정중앙 보내기 */
  top: calc(50% - var(--ip-height) / 2);
  left: calc(50% - var(--ip-width) / 2);
  /* calc() CSS계산함수
    - 더하기, 빼기 사용시 기호앞뒤공백 필수 */
  width: var(--ip-width);
  height: var(--ip-height);

  /* outline: 2px solid blue; */

  /* [ CSS 트랜스폼 입체설정하기 ] 
  - 입체를 만들 부모요소에 해준다!
  (1) flat : 2D설정(기본값)
  (2) preserve-3d : 3D설정
  -> 3D설정후 Z축 이동 및 회전 사용가능
  */
  transform-style: preserve-3d;

  /* 회전적용 */
  transform: rotateX(10deg)
    rotateY(30deg);
}

/* 아이폰 각면 공통 */
.iphone span {
  position: absolute;
  width: var(--ip-width);
  height: var(--ip-height);

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* 배경 투명부분을 흰색으로 채움 */
  background-color: #fff;
}

/* 1. 앞면 */
.iphone span:nth-child(1) {
  background-image: url(../images/ip01.png);

  /* z축 이동하기 */
  /* transform: translateZ(20px); */
  translate: 0 0 10px;
}
/* 2. 뒷면 */
.iphone span:nth-child(2) {
  background-image: url(../images/ip02.png);

  /* z축 이동하기 */
  translate: 0 0 -10px;
  /* 뒤집어 보여야함 */
  rotate: y 180deg;
}
/* 3. 오른쪽면 */
.iphone span:nth-child(3) {
  background-image: url(../images/ip03.png);

  /* 오른쪽끝으로 이동 */
  right: -10px;

  /* 가로크기 재설정 */
  width: var(--ip-side-size);

  /* y축회전 90도 */
  rotate: y 90deg;
}
/* 4. 왼쪽면 */
.iphone span:nth-child(4) {
  background-image: url(../images/ip04.png);

  /* 가로크기 재설정 */
  width: var(--ip-side-size);

  /* 왼쪽끝으로 이동 */
  left: -10px;

  /* y축회전 -90도 */
  rotate: y -90deg;
}

/* 5. 아랫면 */
.iphone span:nth-child(5) {
  background-image: url(../images/ip05.png);

  /* 세로크기 재설정 */
  height: var(--ip-side-size);

  /* 아랫쪽끝으로 이동 */
  bottom: -10px;

  /* x축회전 90도 */
  rotate: x 90deg;
}

/* 6. 아랫면 */
.iphone span:nth-child(6) {
  background-image: url(../images/ip06.png);

  /* 세로크기 재설정 */
  height: var(--ip-side-size);

  /* 윗쪽끝으로 이동 */
  top: -10px;

  /* x축회전 90도 */
  rotate: x 90deg;
}
