@charset "utf-8";

/* Robot PJ : 공통클래스/웹폰트 CSS - core.css */

/*********** 1. 웹폰트 : CDN ***********/

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap");

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

/********** 2. 공통 클래스 **********/
/* 메탈배경 클래스 */
.metal1{
  background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2{
  background: url(../images/metal02.jpg) no-repeat center/cover;
}