@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 초기화 */
html,body{
    margin: 0;
    padding: 0;
    /* 보이는 화면만큼 높이값 셋팅 */
    height: 100%;
}

body{
    background: url(../images/bg.jpg) no-repeat top/cover;
}