@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 초기화 */
html,
body {
  /* 보이는 화면만큼 높이값 셋팅 */
  height: 100%;
}

/* 공사중 표시 */
body *,
*::before,
*::after {
  outline: 2px dashed yellow;
}

body {
  /* 배경이미지(고정fixed) */
  background: url(../images/bg.jpg)
    no-repeat fixed top/cover;
  /* 커서 이미지로 변경하기 */
  cursor: url(../images/favicon.png),
    auto;
}
/************* 1. 상단영역 *************/

/************* 2. 메인영역 *************/
/* 2-1. 로봇박스 */
.robot-box {
  /* 위,아래 패딩으로 공간확보 */
  padding-top: 100px;
  padding-bottom: 500px;
}
/* 2-1-1. 로봇머리 */
.head {
  /* 부모자격 relative : 자식요소 앱솔루트 */
  position: relative;
  /* 몸통보다위 */
  z-index: 1;
  /* 중앙정렬박스 : 마.영.오! */
  margin: 0 auto;
  /* margin-top: 250px; */
  width: 200px;
  height: 250px;
  /* 얼굴모양 만들기 */
  border-radius: 80px 80px 150px 150px;
}

/* 로봇머리 하위 공통 앱솔루트 */
.head > div {
  position: absolute;
}

/* 눈공통 */
.eye {
  /* position: absolute; */
  top: 50px;
  /* 나의 부모는? .head */
  width: 50px;
  height: 50px;
  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* 원형셋팅 */
  border-radius: 50%;
}
/* 왼눈 */
.eye1 {
  /* 개별위치값 */
  left: 16%;
  /* 이미지만 변경 */
  background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2 {
  /* 개별위치값 */
  right: 16%;
  /* 이미지만 변경 */
  background-image: url(../images/e2.jpg);
}
/* 코 */
.nose {
  top: 100px;
  /* 가로방향 중앙이동설정
  -> left 절반밀고 자신크기절반 반대로이동 */
  left: 50%;
  translate: -50%;

  width: 50px;
  height: 70px;
  background: url(../images/nose.jpg)
    no-repeat 0/110% 100%;
  border-radius: 20px;
}
/* 입 */
.mouth {
  bottom: 10%;
  /* 가로방향 중앙이동설정
  -> left 절반밀고 자신크기절반 반대로이동 */
  left: 50%;
  translate: -50%;

  width: 90px;
  height: 40px;
  background: url(../images/mouth.png)
    no-repeat 0/100% 100%;
}
/* 귀공통 */
.ear {
  top: 80px;
  width: 50px;
  height: 80px;
}
/* 왼귀 */
.ear1 {
  /* 왼쪽바깥위치 */
  left: -50px;
  /* 왼위,아래만 둥근모서리 */
  border-radius: 20px 0 0 20px;
}
/* 오른귀 */
.ear2 {
  /*치오른쪽바깥위치 */
  right: -50px;
  /* 오른위,아래만 둥근모서리 */
  border-radius: 0 20px 20px 0;
}
/* 2-1-2. 로봇몸통 */
.body {
  /* 부모자격 렐러티브 */
  position: relative;
  width: 180px;
  height: 320px;
  /* 마영오! 가로중앙 */
  margin: 0 auto;
  margin-top: 50px;
}
/* .body가상요소로 상체만들기 */
.body::before {
  content: "";
  display: block;
  /* 블록으로 변경해야 div같이 사용가능 */
  position: absolute;
  top: 0;
  left: -10%;
  /* 부모는? .body */
  z-index: 1;
  width: 120%;
  height: 50%;
  border-radius: 15px;
  background-image: linear-gradient(
    to bottom,
    #e1e1e1,
    #b6b6b6,
    #4e4e4e
  );
  background-color: #fff;
}
/* .body가상요소로 숏바지만들기 */
.body::after {
  content: "";
  display: block;
  /* 블록으로 변경해야 div같이 사용가능 */
  position: absolute;
  bottom: -10%;
  left: -10%;
  /* 부모는? .body */
  z-index: 1;
  width: 120%;
  height: 35%;
  border-radius: 15px 15px 50% 50%;
  background-image: linear-gradient(
    to bottom,
    #e1e1e1,
    #b6b6b6,
    #4e4e4e
  );
  background-color: #fff;
}
/* 바디 하위요소 앱솔루트 */
.body > div {
  position: absolute;
}
/* 로봇목 */
.neck {
  top: -70px;
  left: 50%;
  translate: -50%;
  width: 50px;
  height: 80px;
  border-radius: 20px;
}
/* 팔공통 */
.arm {
  top: 30px;
  width: 50px;
  height: 180px;
}
/* 왼팔 */
.arm1 {
  left: -65px;
}
/* 오른팔 */
.arm2 {
  right: -65px;
}
/* 팔하단 공통 */
.arm span {
  position: absolute;
  /* 부모는? .arm */
  top: 100%;
  left: 10%;
  width: 80%;
  height: 80%;
}
/* 손공통 : span의 가상요소로 만들기 */
.arm span::after {
  content: "";
  position: absolute;
  /* 앱솔루트 자동블록 */
  top: 100%;
  /* 손이미지 배경사이즈만큼 */
  width: 80px;
  height: 110px;
  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 다리공통 */
.leg {
  top: 100%;
  width: 70px;
  height: 200px;
}
/* 왼다리 */
.leg1 {
  left: 0;
}
/* 오른다리 */
.leg2 {
  right: 0;
}
/* 다리하단 공통 */
.leg span {
  position: absolute;
  /* 부모는? .leg */
  top: 100%;
  left: 10%;
  width: 80%;
  height: 80%;
}
/* 어깨공통 */
.shdr {
  width: 70px;
  height: 70px;
}
/* 왼어깨 */
.shdr1 {
  left: -77px;
  border-radius: 50% 0 0 50%;
}
/* 오른어깨 */
.shdr2 {
  right: -77px;
  border-radius: 0 50% 50% 0;
}
/* 2-2. 설명박스 */
/************* 3. 하단영역 *************/
