// 변수 셋팅하기 ///////

// (1) 색상 셋팅
$mainColor1: #a31212;
$mainColor1-2: #e46d0b;
$mainColor2: #204ffc;
$mainColor2-2: #b0ddf2;

// (2) 색상명 셋팅
$orgRed: red;
$orgAqua: aqua;

// (3) 글자크기 셋팅
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 30px;

// (4) 객체변수 셋팅하기
$colors: (
  color1: blue,
  color2: red,
  color3: green,
  color4: purple,
);
// 객체변수 사용법
// 변수 : (속성:값, 속성:값, 속성:값)
