// 보그 PJ 메인 페이지 SCSS - main.scss

// 파일 합치기 ////
@import "./variables/variables";
@import "./common/core";
@import "./common/reset";

// 1. 상단영역 ////////////////
.top-area {
  /* 부모자격 */
  position: relative;
  padding: $spacing-40;
}
// 1-1. 로고박스
.logo {
  h1 {
    text-align: center;
    img {
      height: 70px;
    }
  }
}

// 1-2. GNB 메뉴 ////////
.gnb {
  margin-top: $spacing-40;

  ul {
    display: flex;
    gap: 3em;
    justify-content: center;

    li {
      font-size: $font-size-common;
      font-weight: 600;
      letter-spacing: 0.2em;
    }
  }
}

// 상단영역 미디어쿼리 ///
@include tablet-medium {
  .logo {
    h1 {
      text-align: left;
    }
  }

  .gnb {
    ul {
      justify-content: flex-start;
    }
  }
}

// 1-3. 요약메뉴 ///////////
.sum-menu {
  position: absolute;
  // 부모는? .top-area
  right: $spacing-40;
  top: $spacing-40;

  font-size: $font-size-common;

  // 하위리스트
  ol {
    display: flex;
    align-items: center;
    gap: 3em;

    li {
      // 언어선택
      &:nth-child(1) a {
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
      // 구독하기
      &:nth-child(2) a {
        font-weight: bold;
        padding: 8px 15px;
        background-color: #000;
        color: #fff;
      }
      // 햄버거버튼
      &:nth-child(3) a {
        font-size: 3em;
        font-weight: 100;
        transform: scaleX(0.7);
        display: inline-block;
      }
    }
  }
}

// 2. 배너영역 /////////////

// 배너박스
.ban-box {
  ul {
    display: flex;
    li {
      position: relative;
      width: 100vw;
      // 비율박스
      aspect-ratio: 1499/701;

      // 배너이미지
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // 글자박스
      .post-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: $spacing-40;
        color: #fff;
        text-shadow: 0 0 5px #0000007d;

        // 분류/날짜
        p {
          font-size: $font-size-common;
        }
        // 큰 타이틀
        h3 {
          font-size: $font-size-x-large;
        }
      }
    }
  }
}

@include tablet-medium {
  // 배너박스
  .ban-box {
    ul {
      li {
        aspect-ratio: 979/931;
      }
    }
  }
}

// 7. Fashion 영역 /////////////
// 서브 타이틀 공통
.sub-tit {
  font-size: $font-size-x-large;
  padding-bottom: 15px;
}
// 영역박스 공통
.common-box {
  padding: $spacing-40;
}
// 패션영역 속박스
.fashion-area {
  @extend .common-box;
}
// 리스트 박스
.post-list {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    // 3번째 li 두칸차지하기
    li:nth-child(3) {
      grid-area: 1 / 3 / 3 / 4;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
