/* 보그 PJ 공통핵심 CSS - _core.scss */
/* 웹폰트, 공용클래스 */

/*********** 1. 웹폰트 ***********/
/* Roboto체 + Noto Sans Kr체 - CDN */
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
/* 
font-family: 'Roboto', "Noto Sans KR";
*/
// 전체 글씨체 적용 ///
body{
  font-family: 'Roboto', "Noto Sans KR";
}

/* 공사중 표시 */
// body * {
//     outline: 1px dashed gray;
// }

/************* 2. 공통 class *************/

/* 2-1. 중앙 속박스 */
.ibx {
  max-width: 1600px;
  margin: 0 auto;
}

// 3. 미디어쿼리 믹스인 ///////////////
// 큰것부터 작은것 순으로!!!
@mixin desktop {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}
@mixin tablet-large {
  @media (max-width: $breakpoint-tablet-large) {
    @content;
  }
}
@mixin tablet-medium {
  @media (max-width: $breakpoint-tablet-medium) {
    @content;
  }
}
@mixin tablet-small {
  @media (max-width: $breakpoint-tablet-small) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}
